@font-face { 
font-family: Gothic; 
src: url(fonts/gothic.ttf);
}

@font-face { 
font-family: Code; 
src: url(fonts/code.ttf);
}

body {
  overflow-x:hidden;
  font-family:Gothic;
  font-weight:700;
}

a {
  text-decoration:none;
  color:inherit;
}

a:hover {
  text-decoration:none;
}

.wrapper {
  width:1633px;
  margin:0 auto;
}

/* header starts */

header {
  height:310px;
  width:100%;
  background-color:#f6f6f6;
}

.upper {
  height:160px;
  width:100%;
}

.upper_inner {
  height:160px;
  width:1394px;
  margin:0 auto;
}

.upper_inner img {
  padding-top:22px;
}

.header_nav {
  float:right;
  padding-top:73px;
}

.header_nav li {
  height:70px;
  padding:23px 10px 28px 10px;
  font-size:16px;
  font-weight:400;
  margin-right:61px;
}

.header_nav li:last-child {
  margin:0;
  padding:23px 0 28px 10px;
}

ul li {
  display:inline;
}

.header_nav li:hover {
  background-color:#ffea00;
}

ul .active {
  background-color:#ffea00;  
}

.lower {
  height:150px;
  width:100%;
  background: url(images/lower_header_bg.jpg);
}

.lower_inner {
  height:150px;
  width:1394px;
  margin:0 auto;
}

.portfolio {
  height:70px;
  width:320px;
  background-color:#424146;
  color:#ffea00;
  font-size:35px;
  float:left;
  margin-top:40px;
}

.portfolio p {
  padding-top:18px;
  padding-left:20px;
}
/* header ends */

/* content starts */

.content {
  height:1584px;
  width:100%;
  background-color:#f6f6f6;
  text-align:center;
  color:#424147;
}

.upper_content {
  width:1394px;
  height:310px;
  margin:0 auto;
}

.content_nav {
  float:left;
}

.content_nav li {
  padding:10px 20px;
  margin-right:5px;
  font-size:24px;
}

.content_nav li:hover {
  background-color:#ffea00;
}

.content h2 {
  font-size:35px;
  padding:75px 0 18px 0;
}

.content h3 {
  font-size:24px;
  margin-bottom:80px;
}

.gallery {
  width:100%;
  height:1170px;
}

.gallery div {
  height:350px;
  width:531px;
}

.port_1 {
  background: url(images/portfolio.jpg) 0 0;
  float:left;
  margin:0 20px 60px 0;
}

.port_2 {
  background: url(images/portfolio.jpg) -551px 0;
  float:left;
  margin:0 20px 60px 0;
}

.port_3 {
  background: url(images/portfolio.jpg) -1102px 0;
  float:right;
  margin:0 0 60px 0;
}

.port_4 {
  background: url(images/portfolio.jpg) 0 -410px;
  float:left;
  margin:0 20px 60px 0;
}

.port_5 {
  background: url(images/portfolio.jpg) -551px -410px;
  float:left;
  margin:0 20px 60px 0;
}

.port_6 {
  background: url(images/portfolio.jpg) -1102px -410px;
  float:right;
  margin:0 0 60px 0;
}

.port_7 {
  background: url(images/portfolio.jpg) 0 -820px;
  float:left;
  margin:0 20px 0 0;
}

.port_8 {
  background: url(images/portfolio.jpg) -551px -820px;
  float:left;
  margin:0 20px 0 0;
}

.port_9 {
  background: url(images/portfolio.jpg) -1102px -820px;
  float:right;
  margin:0;
}

.gallery div:hover {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -ms-transition:all 1s ease-out;
  transition:all 1s ease-out;
  top:-10px;
}

.gallery div {
  position:relative;
  top:0;
}

.port_1:hover {
  background: url(images/portfolioyellow.jpg) 0 0;
  float:left;
  margin:0 20px 60px 0;
}

.port_2:hover {
  background: url(images/portfolioyellow.jpg) -551px 0;
  float:left;
  margin:0 20px 60px 0;
}

.port_3:hover {
  background: url(images/portfolioyellow.jpg) -1102px 0;
  float:right;
  margin:0 0 60px 0;
}

.port_4:hover {
  background: url(images/portfolioyellow.jpg) 0 -410px;
  float:left;
  margin:0 20px 60px 0;
}

.port_5:hover {
  background: url(images/portfolioyellow.jpg) -551px -410px;
  float:left;
  margin:0 20px 60px 0;
}

.port_6:hover {
  background: url(images/portfolioyellow.jpg) -1102px -410px;
  float:right;
  margin:0 0 60px 0;
}

.port_7:hover {
  background: url(images/portfolioyellow.jpg) 0 -820px;
  float:left;
  margin:0 20px 0 0;
}

.port_8:hover {
  background: url(images/portfolioyellow.jpg) -551px -820px;
  float:left;
  margin:0 20px 0 0;
}

.port_9:hover {
  background: url(images/portfolioyellow.jpg) -1102px -820px;
  float:right;
  margin:0;
}

/* content ends */

/* footer starts */

footer {
  height:570px;
  width:100%;
}

.footer_info {
  height:500px;
  width:100%;
  background-color:#414146;
}

.footer_info_inner {
  width:1394px;
  height:500px;
  margin:0 auto;
  color:#ffffff;
  font-size:13px;
}

.footer_info_inner p {
  line-height:1.5;
}

.footer_info_inner h4 {
  font-size:18px;
  margin:30px 0 27px 0;
}

.about_us {
  float:left;
  height:100%;
  width:504px;
}

.about_us button {
  background-color:#000000;
  color:#ffffff;
  border-bottom:2px solid #ffea00;
  border-right:none;
  border-left:none;
  border-top:none;
  width:121px;
  height:39px;
  font-size:15px;
  font-weight:700;
  margin:31px 0 26px 0;
  outline:none;
  cursor:pointer;
}

.about_us .photo {
  margin:0 0 19px 0;
}

.images {
  width:400px;
  height:145px;
}

.images div {
  width:130px;
  height:70px;
}

.img_1 {
  background: url(images/stream.jpg) 0 0;
  float:left;
  margin:0 5px 5px 0;
}

.img_2 {
  background: url(images/stream.jpg) -135px 0;
  float:left;
  margin:0 5px 5px 0;
}

.img_3 {
  background: url(images/stream.jpg) -270px 0;
  float:right;
  margin:0 0 5px 0;
}

.img_4 {
  background: url(images/stream.jpg) 0 -75px;
  float:left;
  margin:0 5px 0 0;
}

.img_5 {
  background: url(images/stream.jpg) -135px -75px;
  float:left;
  margin:0 5px 0 0;
}

.img_6 {
  background: url(images/stream.jpg) -270px -75px;
  float:right;
  margin:0;
}

.latest_tweets {
  float:left;
  height:100%;
  width:571px;
}

.latest_tweets p, .about_us p {
  padding-right:139px;
}

.twt {
  height:68px;
  width:45px;
  float:left;
}

.twt img {
  margin-top:8px;
}

.date {
  font-size:8px;
  color:#ffea00;
}

.latest_tweets h4 {
  margin-bottom:30px;
}

.message {
  width:526px;
  height:68px;
  line-height:1.5;
  float:left;
}

.message .third {
  padding-top:10px;
}

.yellow {
  color:#ffea00;
}

.latest_tweets .social {
  float:left;
  margin:20px 0 27px 0;
}

.fb {
  width:30px;
  height:30px;
  background-position:0 0;
}

.media {
  height:30px;
  width:254px;
  float:left;
  margin-top:15px;
  margin-left:15px;
}

.media div {
  width:30px;
  height:100%;
  margin-right:2px;
  outline:none;
  border:none;
  float:left;
}

.media .fb {
  background: url(images/social.jpg) 0 0;
}

.media .google {
  background: url(images/social.jpg) -32px 0;
}

.media .twitter {
  background: url(images/social.jpg) -64px 0;
}

.media .in {
  background: url(images/social.jpg) -96px 0;
}

.media .youtube {
  background: url(images/social.jpg) -128px 0;
}

.media .blogger {
  background: url(images/social.jpg) -160px 0;
}

.media .rss {
  background: url(images/social.jpg) -192px 0;
}

.media .dribbble {
  background: url(images/social.jpg) -224px 0;
}

.media .dribbble {
  margin:0;
}

.contact_info {
  float:right;
  height:100%;
  width:319px;
}

.contact_info h4 {
  font-size:18px;
  margin:30px 0 45px 0;
}

.contact_info .follow {
  margin:50px 0 15px 0;
}

.address {
  width:100%;
  height:62px;
}

.phone {
  width:100%;
  height:63px;
}

.e-mail {
  width:100%;
  height:30px;
}

.icon {
  width:54px;
  height:100%;
  float:left;
}

.info {
  height:100%;
  width:265px;
  float:left;
}

.icon .location {
  width:30px;
  height:30px;
  background: url(images/contact.jpg) 0 0;
  float:left;
}

.icon .phone {
  width:30px;
  height:30px;
  background: url(images/contact.jpg) 0 -62px;
  float:left;
}

.icon .mail {
  width:30px;
  height:30px;
  background: url(images/contact.jpg) 0 -125px;
  float:left;
}

.second_number {
  padding-left:48px;
}

.mail_line {
  padding-top:5px;
}

.contact_info .enter {
  border-top:none;
  border-left:none;
  border-right:none;
  outline:none;
  border-bottom:2px solid #ffea00;
  background-color:#414146;
  width:230px;
  height:23px;
  float:left;
  margin-top:2px;
  color:#ffffff;
  font-family:Gothic;
  font-weight:700;
}

.contact_info .post {
  width:30px;
  height:30px;
  background: url(images/email.jpg);
  border:none;
  outline:none;
  cursor:pointer;
  float:right;
}

.send {
  width:262px;
  height:30px;
  margin-top:15px;
}

.copyright {
  width:100%;
  height:70px;
  background-color:#000000;
}

.copyright_inner {
  width:1394px;
  height:70px;
  margin:0 auto;
  color:#ffffff;
  font-size:14px;
}

.copyright_inner p {
  padding-top:29px;
  float:left;
}

.footer_nav {
  margin-top:25px;
  float:right;
  font-size:16px;
  font-weight:400;
}

.footer_nav li {
  margin-right:87px;
}

.footer_nav li:last-child {
  margin:0;
}

/* footer ends */
